<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>Phoenix Eye View</title>
    <style>
        body {
            font-family: sans-serif;
            font-size: 13px;
        }

        nav ul {
            display: flex;
            /* Flexboxを有効にする */
            list-style: none;
            /* リストの点を消す */
            padding: 0;
            /* 余白を消す */
        }

        nav li {
            margin-right: 20px;
            /* 要素間の間隔 */
        }

    </style>
</head>

<body>
    <h2>Phoenix Eye View (prototype)</h2>
    <div font-size="10px">ID:{{ current_user.name }}</div>

    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="howto">How To Use</a></li>
            <li><a href="blog">Blog</a></li>
            <li><a href="aboutus">About Us</a></li>
            <li><a href="contact">Contact</a></li>
            <li><a href="policy">Privacy Policy</a></li>
            <li><a href=logout>LogOut</a></li>
        </ul>
    </nav>

    <h3>使い方</h3>
    <h4>～基本編～</h4>
    <p>見たい歴史をドラッグ&ドロップしてから決定ボタンをクリックするとビュー画面に移動します</p>
    <p>(※スマホ・タブレットは長押ししてからドラッグ&ドロップ)</p>
    <img src="static/img/howtouse01.jpg" alt="使い方1" width="500">

    <p>詳細な歴史は、拡大倍率に合わせて自動的に表示／非表示が切り替わります</p>
    <p>常に表示(あるいは非表示)したい場合はビュー右上の詳細歴史ボタンで選択してください</p>
    <img src="static/img/howtouse02.jpg" alt="使い方2" width="600">

    <p>ビュー内でのホイール(※スマホ・タブレットはピンチ)やドラッグで、拡大／縮小・左右移動ができます</p>
    <p>ビュー外でのホイール(※スマホ・タブレットはドラッグ)やドラッグで、上下移動ができます</p>
    <img src="static/img/howtouse03.jpg" alt="使い方3" width="600">

    <p>詳細歴史が表示されている状態で、ビュー中央付近の画像表示ボタンを『On』にすると、画像が表示されます</p>
    <img src="static/img/howtouse04.jpg" alt="使い方4" width="600">

    <p>画像および詳細表示には、リンクが設定されていることがあります</p>

    <h4>～応用編～　時間軸変換</h4>
    <p>Phoenix Eye View は個別の歴史ごとに時間を変更することができます</p>
    <br>現在有効な時間軸変換機能は以下の通りです　home画面で決定ボタンをクリックする前に設定してください。
    <ul>
        <li>『起点を揃える』: 選択したすべての歴史の起点を最初に選んだ歴史に合わせる</li>
        <li>『起点と終点を揃える』: 選択したすべての歴史の起点と終点を最初に選んだ歴史に合わせる</li>
        <li>『起点と終点を揃え、任意の倍率』: 選択したすべての歴史の起点を最初に選んだ歴史に合わせ、時間の進行を任意の倍率で拡大する</li>
        <p>※オプション欄に倍率を入力する　例　　10000</p>
        <li>『任意の歴史の起点をかえる』: 任意の歴史の起点を指定する</li>
        <p>※オプション欄に選んだ歴史の番号と起点を入力する</p>
        　例 (最初に選んだ歴史の起点を1600年にする)　　1-1600
        <br>　例 (２、４番目に選んだ歴史の起点を、それぞれ1500年、1300年にする)　　2-1500,4-1300
    </ul>


</body>

</html>
